.default-banner-section {float: left; width: 100%; z-index: 1; position: relative; overflow: hidden; background: var(--white); padding: 40px 0 0 0;}
.default-banner-section .container {max-width: 1440px; padding: 0 40px;}
.default-banner-section .banner-bg {clip-path: polygon(0px 0px, 160px 0px, 1360px 202px, 1360px 760px, 273px 760px, 0px 160px);}
.default-banner-main {width: 100%; min-height:760px; position: relative; align-items: flex-end;}
.default-banner-main .default-banner-text {clear: both; width: calc(100% - 256px); text-align: right; margin:0 13px -29px auto;}
.default-banner-main .default-banner-text h1 {color: var(--white); font-size: 9.125rem; letter-spacing: 2.92px; margin: 0;}



/*-- media starts here --*/

@media only screen and (max-width:1279px) and (min-width:810px) {
    .default-banner-section .container {padding: 0 32px;}   
}

@media only screen and (max-width: 1280px) and (min-width:1024px){
    
}

@media only screen and (max-width: 1023px) and (min-width:768px){
    
}

@media only screen and (max-width: 767px) and (min-width: 200px){
   
    

}