.features-module {background-color: var(--white); clear: both; width: 100%; position: relative; z-index: 1;}
.features-module .container {max-width: 1440px; padding: 0 40px;position: relative;}
.features-inner{gap: 32px; max-width: 1280px; margin: 0 auto; padding: 79px 0 77px 0;}
.features-grid {flex: 0 0 calc(25% - 40px); flex-grow: 1;}
.features-grid .h3 {margin-bottom: 10px;}
.features-grid p{line-height: 1.5; font-size: 1rem;}

.featues-icon {margin-bottom: 25px; position: relative; width: 100%; line-height: 42px; height: 42px;}
.featues-icon figure img{width: auto; height: auto; max-height:42px;}
.features-bg {width:100%; background: var(--base-elevated); height: 100%; z-index: -1; display: block; opacity: 0.6; clip-path: polygon(24.5% 0%, 100% 0%, 52.8% 100%, 0% 113%); right: 40px;}




@media only screen and (min-width:1280px) {
}

@media only screen and (min-width:1280px) {

}

@media only screen and (max-width:1279px) and (min-width: 200px) {

}

@media only screen and (max-width:1023px) and (min-width: 768px) {
}

@media only screen and (max-width:767px) and (min-width: 200px) {}