@import url("_hero-banner.css");
@import url("_intro-module.css");
@import url("_featurette-module.css");
@import url("_more-features-module.css");
@import url("_kisp-overview-module.css");
@import url("_trusted-by.css");
@import url("_logo-slider.css");
@import url("_kisp-pm-module.css");
@import url("_cta-module.css");


/* Process Section */
.process-card{width: 300px;}
.process-card .optional-text {margin: 0 0 22px 0;}
.process-card h2 {margin-bottom: 42px;}

.process-main{gap: 84px; padding: 80px 0 80px;}
.process-segments{flex: 1; gap: 40px 48px; flex-direction: column;}
.process-seg {gap:40px;}
.process-desc{flex: 1; padding: 2px 0 0 0;}
.process-desc .h5 {margin-bottom: 6px;}
.process-desc p {font-size: 1rem; line-height: 1.5;}

.process-icon{width: 120px; height: auto; padding-right: 40px; border-right: 4px solid #fff; align-items: center;}
.process-icon figure {width: 80px; height: auto;}


/* Logo Slider */
.logo-container {padding: 0 0 40px 0;}
.logo-img {background: var(--base-elevated);}
.logo-img img {mix-blend-mode: multiply; position: relative; z-index: 1;}
.logo-slider-row::before, .logo-slider-row::after {background-image: linear-gradient(to right, var(--base-elevated) 0%, rgba(255, 255, 255, 0) 100%);}


.kisp-overview-module {padding: 80px 0 40px 0;}


.work-examples {clear: both; width: 100%; position: relative; z-index: 1; background: var(--white); padding: 84px 0;}
.work-examples .h1 {margin-bottom: 36px;}
.work-ex-cat {margin-bottom: 40px;}
.work-ex-cat ul {margin: 0; display: flex; flex-wrap: wrap; gap:12px;}
.work-ex-cat ul li {display: inline-block; margin: 0;}
.work-ex-cat ul li:before {display: none;}
.work-ex-cat ul li a {font-size: 1rem; font-weight: bold; display: inline-block; line-height: 1; padding: 10px; border:2px solid var(--brand-blue);}
.work-ex-cat ul li a:after {display: none;}
.work-ex-cat ul li.active a, .work-ex-cat ul li a:hover {background: var(--brand-blue); color: var(--brand-mint);}

.work-ex-result {gap: 40px; display: flex; flex-wrap: wrap;}
.work-row {justify-content: space-between;}
.work-grid {width: 48.4375%; gap: 40px; display: flex; flex-wrap: wrap;}


.work-row:nth-child(2n) {width: 100%;}
.work-row:nth-child(2n) .work-grid {width:100%;}

.work-row:nth-child(3n) {flex-direction: row-reverse;}

.photo-1-of-1 {width: 100%; position: relative;}
.photo-1-of-3 {display: flex; flex-wrap: wrap; gap:40px; width: 100%;}
.photo-1-of-3lt {width: 46.774193548387096%; display: flex; flex-wrap: wrap; gap:40px;}
.photo-1-of-3lt:only-child {width: 100%;}
.photo-1-of-3a {width: 100%; clear: both; position: relative;}

/*-- media css starts here --*/
@media only screen and (max-width: 1280px) and (min-width:1024px){
   
}

@media only screen and (min-width:1440px){
  .featurette-lt .featurette-cnt {padding: 30px 40px 40px 40px;}
 
}

@media (min-width:768px) {}



@media only screen and (max-width: 1023px) and (min-width: 768px){
    
}

@media only screen and (max-width: 1023px) and (min-width:200px){


}

@media only screen and (max-width: 767px) and (min-width: 200px){
    
}


@media only screen and (max-width: 389px) {}