@import url("_hero-banner.css");
@import url("_intro-module.css");
@import url("_featurette-module.css");
@import url("_more-features-module.css");
@import url("_kisp-overview-module.css");
@import url("_trusted-by.css");
@import url("_logo-slider.css");
@import url("_kisp-pm-module.css");
@import url("_cta-module.css");


/* Logo Slider */
.logo-container {padding: 0 0 40px 0;}
.logo-img {background: var(--base-elevated);}
.logo-img img {mix-blend-mode: multiply; position: relative; z-index: 1;}
.logo-slider-row::before, .logo-slider-row::after {background-image: linear-gradient(to right, var(--base-elevated) 0%, rgba(255, 255, 255, 0) 100%);}


.kisp-overview-module {padding: 80px 0 40px 0;}





/*-- media css starts here --*/
@media only screen and (max-width: 1280px) and (min-width:1024px){
   
}

@media only screen and (min-width:1440px){
  .featurette-lt .featurette-cnt {padding: 30px 40px 40px 40px;}
 
}

@media (min-width:768px) {}



@media only screen and (max-width: 1023px) and (min-width: 768px){
    
}

@media only screen and (max-width: 1023px) and (min-width:200px){


}

@media only screen and (max-width: 767px) and (min-width: 200px){
    
}


@media only screen and (max-width: 389px) {}